provider "azurerm" {
    features {}
    subscription_id = "${subscription_id}"
}

resource "azurerm_resource_group" "deleteme" {
    name     = "terraform-bootstrap-github-deleteme"
    location = "UK South"
}